<launch>
  <include file="$(find xrobot_base)/launch/xrobot_odom_encoder.launch" />
  <include file="$(find xrobot_4b)/launch/lidar.launch" />
  
  <arg name="map_file" default="$(find xrobot_base)/maps/mymap.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find xrobot_base)/launch/amcl.launch" />
  <include file="$(find xrobot_m4b)/param/move_base.xml" />
</launch>
