<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find xrobot_m4b)/launch/xm4b_nav_amcl_odom_encoder.launch" />
  <!--<include file="$(find xrobot_4b)/launch/lidar.launch" />
  <include file="$(find xrobot_serial)/launch/xrobot_serial.launch" />-->
  
  <node name="track" pkg="simple_navigation_goals" type="base_controller" output="screen" />
  <node name="get" pkg="simple_navigation_goals" type="ipmsg_get" output="screen" />
  <node name="talk" pkg="simple_navigation_goals" type="real-time_tf_cxw.py" output="screen" />
 
</launch>